<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SMP Auth</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>smpauth</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>SessionMAPIKey</key>
	<string>41a44470ac984b11d8452530b0cd466ba1656280</string>
	<key>SessionMServerURL</key>
	<string>https://api.tour-sessionm.com</string>
	<key>SessionMOAuthClientID</key>
	<string>1913e9563da1aba37be6fd334b0ad626c6d8d0730d40ec077675bf2f57184eda</string>
	<key>SessionMOAuthAuthorizationEndpoint</key>
	<string>https://login-demo.stg-sessionm.com/oauth/authorize</string>
	<key>SessionMOAuthTokenEndpoint</key>
	<string>https://login-demo.stg-sessionm.com/oauth/token</string>
	<key>SessionMOAuthRedirectURI</key>
	<string>smpauth://com.sessionm.smp_auth:/oauth2redirect</string>
	<key>LSApplicationCategoryType</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string></string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string></string>
			</dict>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Auth</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
