<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectID</key>
	<string>com.sessionm.enterprise.Geofence</string>
	<key>appKey</key>
	<string>ac71d8f083272a0b4d3736c533c22d1f5f1d98a6</string>
	<key>serverEndpoint</key>
	<string>https://api-coke.stg-sessionm.com</string>
	<key>OAuthClientID</key>
	<dict>
		<key>Default</key>
		<string>27fb00094891e1a038bfeb9667301e1919ba643b1d61f5aa59eaac00d6675b5c</string>
	</dict>
	<key>OAuthHostURL</key>
	<string>https://login-sdkexamples.stg-sessionm.com</string>
	<key>OAuthRedirecURI</key>
	<string>smpauth://com.sessionm.smp_auth:/oauth2redirect</string>
</dict>
</plist>
