<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectID</key>
	<string>com.sessionm.enterprise.Offers</string>
	<key>appKey</key>
	<string>239dfc908c2e548de40b56b21b68119289e52473</string>
	<key>serverEndpoint</key>
	<string>https://api-sdkexamples.stg-sessionm.com</string>
	<key>OAuthClientID</key>
	<string>04d1a7246799f47273af0c287e4881b3c09c632f3279e5ceb72d143193101afa</string>
	<key>OAuthHostURL</key>
	<string>https://login-sdkexamples.stg-sessionm.com</string>
	<key>OAuthRedirectURI</key>
	<string>smpauth://com.sessionm.smp_auth:/oauth2redirect</string>
</dict>
</plist>
