<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectID</key>
	<string>com.sessionm.enterprise.Events</string>
	<key>appKey</key>
	<string>04e54a2689ec2d96e2cd5394f377671f80166165</string>
	<key>serverEndpoint</key>
	<string>https://api-demo.stg-sessionm.com</string>
</dict>
</plist>
